{% extends 'base.html.twig' %}

{% block title %}Cart index{% endblock %}

{% block body %}
    <h1>Cart index</h1>

    {% for cart in carts %}
        <p>{{ cart.id }}</p>
        <p>{{ cart.userId }}</p>
        <p>{{ cart.articleId }}</p>
        <a href="{{ path('app_cart_show', {'id': cart.id}) }}">show</a>
        <a href="{{ path('app_cart_edit', {'id': cart.id}) }}">edit</a>
    {% else %}
        <p>no records found</p>
    {% endfor %}

    <a href="{{ path('app_cart_new') }}">Create new</a>
{% endblock %}
